.wrapper-header-box {
  padding: 20px 20px 20px 20px;
}

.wrapper-header-box th.header-logo-box {
  width: 100px;
}

.wrapper-body-box .row-information {
  transition: all 0.2s ease-in-out;
}

.wrapper-body-box .row-information:hover {
  transform: scale(1.01);
}

.wrapper-body-box .row-information .image-logo-box {
  display: flex;
  justify-content: center;
}

.wrapper-body-box .row-information .image-logo-box .image-logo {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
}

.wrapper-body-box .row-information .data-name-box,
.wrapper-body-box .row-information .data-symbol-box,
.wrapper-body-box .row-information .data-current-price {
  display: table-cell;
  vertical-align: middle;
}
